<div id="motivation" class="main-div main-div-2">
    <span>2</span>
    <h1>Motivation for the Post</h1>
    <div>
        I am passionate about programming and keep looking forward to try my hands on different domains of coding. Web development is one of them. Being a part of the web secretary 
        could provide opportunities to work on exciting projects, gain experience in the 
        field and motivation to get more knowledge. <br> It provides a platform for me to learn 
        from those who have more knowledge and experience in the field.<br>
        As a being part of department council, I will get to bond with allot of 
        seniors and upcoming batchmates of the department which is the biggest motivation 
        of me for this post. <br>
        I will get to make relationships with allot of seniors as well as upcoming
        batchmates in the department, this is the primary reason why I am motivated to 
        take up this position. It provides a platform for me to learn from those who have 
        more knowledge and experience in the field, and also to guide and mentor those who 
        are just starting out. Building these connections and relationships within the 
        department can lead to a more supportive and collaborative environment, where 
        everyone can work together towards common goals and achieve success.
        </div>
</div>