<div id="expirence" class="main-div main-div-1">
    <span>3</span>
    <h1>Past Experience</h1>
    <div>
        I have been involved in coding during my school year,  During 7th-10th I had learnt basics of multiple languages including Python, Java, CPP, SQL, JavaScript, very basics of Numpy and Pandas some as part of curriculum of school other as side interest <br>(Though I don’t remember most of it now). 
        <br> I have done some basic web projects during annual science exhibition. <br> <br>
        In insti, I got back on coding after break during JEE with CS101.
        And continued this by participating in Hacker rank, Devcom Projects (Full Stack Web Dev) and Code wars. 
    </div>
</div>