<div id="intro" class="main-div main-div-1">
    <span>1</span>
    <h1>Introduction</h1>
    <div>
        <ul id="list1">
            <li>Name</li>
            <li>Roll No</li>
            <li>Branch</li>
            <li>Home Place</li>
            <li>Hobbies</li>
        </ul>
        <ul id="list2">
            <li>Deepak Silaych</li>
            <li>22B0660</li>
            <li>Civil Department</li>
            <li>Pilani </li>
            <li>Swimming,Coding</li>
        </ul>
    </div>
</div>